.correct {
  background-color: hsl(160deg 100% 40% / 0.1);
  border-color: hsl(160deg 100% 40%);
}

.incorrect {
  background-color: hsla(165, 4%, 18%, 0.1);
  border-color: hsl(165, 4%, 22%);
}

.misplaced {
  background-color: hsla(61, 93%, 44%, 0.1);
  border-color: hsl(61, 94%, 40%);
}
